body {
    /* border: 2px solid; */
    margin: 0px;
    padding: 0px;
}

/* Home Page Title */
.Home_page{
    border: 2px solid;
}

/*1st- Navigation Bar Section  */
.navbar{
    box-shadow: 0px 0px 10px 0px rgb(70, 70, 70);
}
.nav-item>a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: #018dd8;
}

.nav-item>a:hover{
    color: rgb(218, 116, 0) !important;
}

/* 3rd Content Category
                        -Category cards section-1 */
.category{
    /* border: 2px solid blue; */
    margin: 25px 7%;
    box-shadow: 2px 1px 15px 0px hsla(0, 0%, 0%, 0.419);  
}
.category_cards{
    display: grid;
    grid-template-columns: repeat(3,29%);
    padding: 15px;
    justify-content: space-around;
    row-gap: 25px;
    column-gap: 25px;
    padding-bottom: 30px;
}
.category>h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 20px 0px 0px 0px;
    text-transform: capitalize;
    
}
.cards-8{
    /* border: 2px solid red; */
    height: 250px;
    box-shadow: 2px 2px 10px 1px hsla(0, 0%, 0%, 0.583); 
}
.card_1{
    background-image: url(images/category-1.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.card_2{
    background-image: url(images/category-2.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.card_3{
    background-image: url(images/category-3.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.card_4{
    background-image: url(images/category-4.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.card_5{
    background-image: url(images/category-5.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.card_6{
    background-image: url(images/category-6.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* 4th Content 
                - Latest Products */
.cards-6{
    /* border: 1px solid red; */
    height: 270px;
    display: grid;
    grid-template-rows: 90% 10%;
    box-shadow: 0px 0px 10px 2px hsla(0, 0%, 0%, 0.268); 
    text-decoration: none;
}
.img-1{
    background-image: url(images/newproduct.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-2{
    background-image: url(images/newproduct-2.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-3{
    background-image: url(images/newproduct-3.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-4{
    background-image: url(images/newproduct-4.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-5{
    background-image: url(images/newproduct-5.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-6{
    background-image: url(images/newproduct-6.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.cards-6:hover{
    opacity: 0.7;
}
.title{
    background-color: orange;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
    padding-top: 3px;
}
/* 5th Content 
         - Smart Watch logo */
.smart-watch{
    /* border: 1px solid blue; */
    background: radial-gradient(circle at center, hsl(351, 100%, 98%), hsl(350, 100%, 92%), hsl(350, 100%, 85%) 150%);
    margin-top: 60px;
    display: flex;
    padding: 40px 15%;
    height: 400px;
}
.smart-watch div{
    flex: 1;
    /* border: 2px solid; */
}
.smart-img{
    background-position: center;
    background-repeat: no-repeat;
}
.smart-text{
    padding: 9% 10px 0px 10px;
}
.smart-text>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.smart-text>h3{
    font-family:inherit;
    font-weight: 700;
}
.smart-text button{
    border: none;
    border-radius: 15px;
    padding: 6px 15px;
    background-color: orangered;
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.smart-text button:hover{
    background-color: rgb(255, 115, 0);
}

/* 6th Content 
            - 3 Cards */
.content-6{
    margin: 70px 0px;
    display: grid;
    grid-template-columns: repeat(3,22%);
    justify-content: space-around;
    padding: 0px 10%;
}
.box-1{
    /* border: 2px solid blue; */
    padding: 25px 8px;
    text-align: center;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.252);
}
.box-1 i{
    font-size: 30px;
    margin-bottom: 20px;
}
.box-1 p{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
}

/* 7th Content 
        - Brands Logos */
.brand-logos{
    /* border: 1px solid blue; */
    padding: 10px 10%;
    display: flex;  
    cursor: pointer;
    margin-bottom: 40px;
}
.brand-logos div{
    flex: 1;
    filter: grayscale(100%) brightness(70%);
    transition: filter 0.8s;
    margin-right: 40px;
    height: 55px;
}
.brand-logos div:hover {
    filter: none;
}

/* 8th Content 
        - Footer */
.last-footer{
    background-color: hsla(0, 0%, 0%, 0.87);
    padding: 30px 40px;
    display: grid;
    grid-template-columns: repeat(4,23.5%);
    column-gap: 2%;
}
.last-footer>div{
    /* border: 2px solid red; */
    padding-top: 10%;
    padding-bottom: 25%;
}
.footer-one>p{
    font-size: 15px;
    color: rgba(182, 182, 182, 0.961);
}
.footer-one>h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
}
.footer-imgs{
    display: flex;
    flex-direction: row;
}
.footer-imgs>div{
    height: 40px;
    flex: 1;
    margin-right: 5px;
}
.footer-2nd>div{
    /* border: 1px solid; */
    margin: 0px 30px;
    height: 75px;
}
.footer-2nd>p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgba(182, 182, 182, 0.961);
}
.footer-3rd{
    padding-left: 20px;
}
.footer-3rd ul{
    padding-left: 20px !important;
}
.footer-3rd>h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
}
.footer-3rd a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    color: rgba(182, 182, 182, 0.961);
}
.copyright{
    background-color: hsla(0, 0%, 0%, 0.87);
    color: rgba(182, 182, 182, 0.961);
    font-size: 20px;
    text-align: center;
    padding: 20px 0px;
}